## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Release outputs
release/
publish_output/
publish_selfcontained/

## NuGet
packages/
*.nupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## dotnet
project.lock.json
*.nupkg
